* {
  box-sizing: border-box;
  color: #1a1110;
  list-style: none;
  margin: 0;
  text-decoration: none;
  text-shadow: 2px 2px 2px #666;
}

h4 {
  font-size: 60px;
  text-align: center;
}

input,
textarea,
button {
  border: 1px solid #666;
  box-shadow: 2px 2px 2px #666;
  font-size: 28px;
  height: 42px;
  margin: 3px 5%;
  outline: none;
  text-align: left;
  text-shadow: none;
  width: 90%;
}

textarea {
  height: 210px;
}

button {
  text-align: center;
}

.app {
}

.navbar {
  display: flex;
  padding: 14px 2%;
  justify-content: space-between;
  .navbar-logo {
    font-size: 42px;
  }
  .navbar-links {
    display: flex;
    justify-content: right;
    .navbar-link {
      margin-left: 21px;
    }
  }
}

.private-route {
  .pr-links {
    display: flex;
    justify-content: space-evenly;
    .pr-item {
      margin: 12px 0;
      .pr-link {
        border: 2px solid #1a1110;
        box-shadow: 2px 2px 2px #666;
        font-size: 21px;
        padding: 6px 14px;
      }
    }
  }
}
